<p id="notice"><%= notice %></p>
<<<<<<< HEAD
<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<h1>Listing Order Requests</h1>

=======

<h1>Order Requests</h1>
<%= form_tag(order_requests_path, method: :get) do %>
    <%= text_field_tag :order_request %>
    <%= submit_tag 'Search', name: nil %>
<% end %><br>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Order description</th>
      <th>Order reason</th>
    </tr>
  </thead>

  <tbody>
    <% @order_requests.each do |order_request| %>
      <tr>
<<<<<<< HEAD
        <td><%= order_request.user_id %></td>
=======
        <td><%= order_request.user.name %></td>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
        <td><%= order_request.order_description %></td>
        <td><%= order_request.order_reason %></td>
        <td><%= link_to 'Show', order_request %></td>
        <td><%= link_to 'Edit', edit_order_request_path(order_request) %></td>
        <td><%= link_to 'Delete', order_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order request', new_order_request_path %>
