<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
<<<<<<< HEAD
<<<<<<< HEAD
  <%= @order_request.user_id %>
=======
  <%= @order_request.user.name %>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
=======
  <%= @order_request.user_id %>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
</p>

<p>
  <strong>Order description:</strong>
  <%= @order_request.order_description %>
</p>

<p>
  <strong>Order reason:</strong>
  <%= @order_request.order_reason %>
</p>

<%= link_to 'Edit', edit_order_request_path(@order_request) %> |
<%= link_to 'Back', order_requests_path %>
