<p id="notice"><%= notice %></p>

<h1>Loan Histories</h1>
<%= form_tag(loan_histories_path, method: :get) do %>
    <%= text_field_tag :loan_history %>
    <%= submit_tag 'Search', name: nil %>
<% end %><br>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Check out date</th>
    </tr>
  </thead>

  <tbody>
    <% @loan_histories.each do |loan_history| %>
      <tr>
        <td><%= loan_history.item.item_name %></td>
        <td><%= loan_history.loan_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>


