<p id="notice"><%= notice %></p>
<<<<<<< HEAD
<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<h1>Listing Loan Histories</h1>

=======

<h1>Loan Histories</h1>
<%= form_tag(loan_histories_path, method: :get) do %>
    <%= text_field_tag :loan_history %>
    <%= submit_tag 'Search', name: nil %>
<% end %><br>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>User</th>
      <th>Check in date</th>
      <th>Check out date</th>
    </tr>
  </thead>

  <tbody>
    <% @loan_histories.each do |loan_history| %>
      <tr>
        <td><%= loan_history.item_id %></td>
        <td><%= loan_history.user_id %></td>
        <td><%= loan_history.check_in_date %></td>
        <td><%= loan_history.check_out_date %></td>
        <td><%= link_to 'Show', loan_history %></td>
        <td><%= link_to 'Edit', edit_loan_history_path(loan_history) %></td>
        <td><%= link_to 'Delete', loan_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan history', new_loan_history_path %>
