<p id="notice"><%= notice %></p>
<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<h1>Listing Item Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Availability</th>
    </tr>
  </thead>

  <tbody>
    <% @item_statuses.each do |item_status| %>
      <tr>
        <td><%= item_status.availability %></td>
        <td><%= link_to 'Show', item_status %></td>
        <td><%= link_to 'Edit', edit_item_status_path(item_status) %></td>
        <td><%= link_to 'Delete', item_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item status', new_item_status_path %>
