<p id="notice"><%= notice %></p>
<<<<<<< HEAD
<<<<<<< HEAD
<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<h1>Listing Item Statuses</h1>
=======

<h1>Item Statuses</h1>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
=======

<h1>Listing Item Statuses</h1>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06

<table>
  <thead>
    <tr>
      <th>Availability</th>
<<<<<<< HEAD
=======
      <th colspan="3"></th>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
    </tr>
  </thead>

  <tbody>
    <% @item_statuses.each do |item_status| %>
      <tr>
        <td><%= item_status.availability %></td>
        <td><%= link_to 'Show', item_status %></td>
        <td><%= link_to 'Edit', edit_item_status_path(item_status) %></td>
<<<<<<< HEAD
        <td><%= link_to 'Delete', item_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
=======
        <td><%= link_to 'Destroy', item_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item status', new_item_status_path %>
