<%= form_for(@zip) do |f| %>
  <% if @zip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zip.errors.count, "error") %> prohibited this zip from being saved:</h2>

      <ul>
      <% @zip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<<<<<<< HEAD
<<<<<<< HEAD

=======
    <div class="field">
      <%= f.label :city_id %><br>
      <%= f.collection_select :city_id, City.all, :id, :city_name %>
    </div>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
=======

>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>
<<<<<<< HEAD
=======
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.number_field :city_id %>
  </div>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
