<p id="notice"><%= notice %></p>

<p>
  <strong>Zipcode:</strong>
  <%= @zip.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @zip.city_id %>
</p>

<%= link_to 'Edit', edit_zip_path(@zip) %> |
<%= link_to 'Back', zips_path %>
