<p id="notice"><%= notice %></p>

<p>
  <strong>Zipcode:</strong>
  <%= @zip.zipcode %>
</p>

<<<<<<< HEAD
=======
<p>
  <strong>City:</strong>
  <%= @zip.city_id %>
</p>

>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
<%= link_to 'Edit', edit_zip_path(@zip) %> |
<%= link_to 'Back', zips_path %>
