<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
=======
  <strong>Country:</strong>
  <%= @state.country_id %>
</p>

<p>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
  <strong>State name:</strong>
  <%= @state.state_name %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
