<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
<<<<<<< HEAD
  <strong>Building description:</strong>
  <%= @building.building_description %>
</p>

<p>
  <strong>Building name:</strong>
  <%= @building.building_name %>
=======
=======
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
  <strong>Building Name:</strong>
  <%= @building.building_name %>
</p>

<p>
  <strong>Building Code:</strong>
  <%= @building.building_code %>
</p>

<p>
  <strong>Building Number:</strong>
  <%= @building.building_number %>
<<<<<<< HEAD
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
=======
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
