<%= form_for(@package_request) do |f| %>
  <% if @package_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@package_request.errors.count, "error") %> prohibited this package_request from being saved:</h2>

      <ul>
      <% @package_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
<<<<<<< HEAD
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :item_location_id %><br>
    <%= f.collection_select :item_location_id, ItemLocation.all, :id, :location_address %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.collection_select :item_id, Item.all, :id, :item_name %>
=======
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :item_location_id %><br>
    <%= f.number_field :item_location_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.number_field :item_id %>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
  </div>
  <div class="field">
    <%= f.label :item_condition %><br>
    <%= f.text_field :item_condition %>
  </div>
  <div class="field">
    <%= f.label :package_status %><br>
    <%= f.text_field :package_status %>
  </div>
  <div class="field">
    <%= f.label :check_in %><br>
    <%= f.datetime_select :check_in %>
  </div>
  <div class="field">
    <%= f.label :loan_date %><br>
    <%= f.datetime_select :loan_date %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.datetime_select :due_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
