<%= form_for(@package_request) do |f| %>
  <% if @package_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@package_request.errors.count, "error") %> prohibited this package_request from being saved:</h2>

      <ul>
      <% @package_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.where(:name => current_user.name), :id, :name, {},{ class: "chzn-select", style: "width: 120px" } %>
  </div>

    <div class="field">
      <%= f.label :item_location_id %><br>
      <%= f.collection_select :item_location_id, ItemLocation.where(user_id: current_user), :id, :location_address, {}, class: "chzn-select", style: "width: 120px" %>
    </div>

  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.collection_select :item_id, Item.all, :id, :item_name %>
  </div>

  <div class="field">
    <%= f.label :item_condition %><br>
    <%= f.select(:item_condition, options_for_select(['New', 'Like New', 'Moderate', 'Poor'], 3), {}, class: "chzn-select", style: "width: 120px") %>
  </div>

  <div class="field">
    <%= f.label :loan_date %><br>
    <%= f.input :loan_date, :as => datetime_picker %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.datetime_select :due_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
