<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vendor_name %><br>
    <%= f.text_field :vendor_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.collection_select :city, City.all, :id, :city_name %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.collection_select :state, State.all, :id, :state_name %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.collection_select :country, Country.all, :id, :country_name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.collection_select :zip, Zip.all, :id, :zipcode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
