<p id="notice"><%= notice %></p>
<<<<<<< HEAD
<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<h1>Listing Vendors</h1>

=======

<h1>Vendors</h1>
<%= form_tag(vendors_path, method: :get) do %>
    <%= text_field_tag :vendor %>
    <%= submit_tag 'Search', name: nil %>
<% end %><br>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
<table>
  <thead>
    <tr>
      <th>Vendor name</th>
      <th>Email</th>
<<<<<<< HEAD
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Phone number</th>
      <th>Zip</th>
=======
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.vendor_name %></td>
        <td><%= vendor.email %></td>
<<<<<<< HEAD
        <td><%= vendor.city %></td>
        <td><%= vendor.state %></td>
        <td><%= vendor.country %></td>
        <td><%= vendor.phone_number %></td>
        <td><%= vendor.zip %></td>
=======
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Delete', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
