<p id="notice"><%= notice %></p>
<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<h1>Listing Tag Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Tag status</th>
    </tr>
  </thead>

  <tbody>
    <% @tag_statuses.each do |tag_status| %>
      <tr>
        <td><%= tag_status.tag_status %></td>
        <td><%= link_to 'Show', tag_status %></td>
        <td><%= link_to 'Edit', edit_tag_status_path(tag_status) %></td>
        <td><%= link_to 'Delete', tag_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag status', new_tag_status_path %>
