<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vendor_id %><br>
    <%= f.collection_select :vendor_id, Vendor.all, :id, :vendor_name %>
  </div>
  <div class="field">
    <%= f.label :item_status_id %><br>
    <%= f.collection_select :item_status_id, ItemStatus.all, :id, :availability %>
  </div>
  <div class="field">
    <%= f.label :tag_type_id %><br>
    <%= f.collection_select :tag_type_id, TagType.all, :id, :tag_type %>
  </div>
  <div class="field">
    <%= f.label :item_category_id %><br>
    <%= f.collection_select :item_category_id, ItemCategory.all, :id, :category %>
  </div>
  <div class="field">
    <%= f.label :building_id %><br>
    <%= f.collection_select :building_id, Building.all, :id, :building_name %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br>
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :item_name %><br>
    <%= f.text_field :item_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
