<p id="notice"><%= notice %></p>

<h1>Items</h1>
<%= form_tag(items_path, method: :get) do %>
    <%= text_field_tag :item %>
    <%= submit_tag 'Search', name: nil %>
<% end %><br>
<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Tag type</th>
      <th>Item category</th>
      <th>Serial number</th>
      <th>Vendor</th>
      <th>Building</th>
      <th>Availability</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= item.tag_type.tag_type %></td>
        <td><%= item.item_category.category %></td>
        <td><%= item.serial_number %></td>
        <td><%= item.vendor.vendor_name %></td>
        <td><%= item.building.building_name %></td>
        <td><%= item.availability %></td>
      </tr>
    <% end %>
  </tbody>
</table>


