<p id="notice"><%= notice %></p>
<<<<<<< HEAD
<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<h1>Listing Items</h1>

=======

<h1>Items</h1>
<%= form_tag(items_path, method: :get) do %>
    <%= text_field_tag :item %>
    <%= submit_tag 'Search', name: nil %>
<% end %><br>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
<table>
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Item status</th>
<<<<<<< HEAD
      <th>Tag status</th>
=======
      <th>Tag type</th>
      <th>Item category</th>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
      <th>Building</th>
      <th>Serial number</th>
      <th>Item name</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
<<<<<<< HEAD
        <td><%= item.vendor_id %></td>
        <td><%= item.item_status_id %></td>
        <td><%= item.tag_status_id %></td>
        <td><%= item.building_id %></td>
=======
        <td><%= item.vendor.vendor_name %></td>
        <td><%= item.item_status.availability %></td>
        <td><%= item.tag_type.tag_type %></td>
        <td><%= item.item_category.category %></td>
        <td><%= item.building.building_name %></td>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
        <td><%= item.serial_number %></td>
        <td><%= item.item_name %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
