<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
<<<<<<< HEAD
<<<<<<< HEAD
  <%= @item.vendor_id %>
=======
  <%= @item.vendor.vendor_name %>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
=======
  <%= @item.vendor_id %>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
</p>

<p>
  <strong>Item status:</strong>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
  <%= @item.item_status_id %>
</p>

<p>
<<<<<<< HEAD
  <strong>Tag status:</strong>
  <%= @item.tag_status_id %>
=======
  <%= @item.item_status.availability %>
</p>

<p>
  <strong>Tag type:</strong>
  <%= @item.tag_type.tag_type %>
=======
  <strong>Tag type:</strong>
  <%= @item.tag_type_id %>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
</p>

<p>
  <strong>Item category:</strong>
<<<<<<< HEAD
  <%= @item.item_category.category %>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
=======
  <%= @item.item_category_id %>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
</p>

<p>
  <strong>Building:</strong>
<<<<<<< HEAD
<<<<<<< HEAD
  <%= @item.building_id %>
=======
  <%= @item.building.building_name %>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
=======
  <%= @item.building_id %>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
</p>

<p>
  <strong>Serial number:</strong>
  <%= @item.serial_number %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
