<%= form_for(@item_movability) do |f| %>
  <% if @item_movability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_movability.errors.count, "error") %> prohibited this item_movability from being saved:</h2>

      <ul>
      <% @item_movability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movable %><br>
    <%= f.text_field :movable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
