<p id="notice"><%= notice %></p>
<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<h1>Listing Item Movabilities</h1>

<table>
  <thead>
    <tr>
      <th>Movable</th>
    </tr>
  </thead>

  <tbody>
    <% @item_movabilities.each do |item_movability| %>
      <tr>
        <td><%= item_movability.movable %></td>
        <td><%= link_to 'Show', item_movability %></td>
        <td><%= link_to 'Edit', edit_item_movability_path(item_movability) %></td>
        <td><%= link_to 'Delete', item_movability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item movability', new_item_movability_path %>
