<p id="notice"><%= notice %></p>
<<<<<<< HEAD
<<<<<<< HEAD
<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<h1>Listing Countries</h1>

=======

<h1>Countries</h1>
<%= form_tag(countries_path, method: :get) do %>
    <%= text_field_tag :country %>
    <%= submit_tag 'Search', name: nil %>
<% end %><br>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
=======

<h1>Listing Countries</h1>

>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
<table>
  <thead>
    <tr>
      <th>Country name</th>
<<<<<<< HEAD
=======
      <th colspan="3"></th>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.country_name %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
<<<<<<< HEAD
        <td><%= link_to 'Delete', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
=======
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
