<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
=======
  <strong>State:</strong>
  <%= @city.state_id %>
</p>

<p>
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
  <strong>City name:</strong>
  <%= @city.city_name %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
