<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
  <strong>State:</strong>
  <%= @city.state_id %>
</p>

<p>
<<<<<<< HEAD
>>>>>>> 7ed43a1aaee4e6343ead889d21b385df83919228
=======
>>>>>>> a511f83882486e6fc6f4ba544c62fb3938b3ae06
  <strong>City name:</strong>
  <%= @city.city_name %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
